
<div>
  <h2>Kursas - {{course.name}}</h2>

  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2">
        <button *ngIf="!courseIsDone" (click)="submitExecution()">Pateikti vertinimui</button>
        <span *ngIf="courseIsDone && !isLoading">Darbas pateiktas, galite išeiti iš šio puslapio.</span>
      </div>
      <div class="col-12 col-md-10">
        <p>Sugeneruotas kodas, pagal kurį bus atliktas vertinimas:</p>
        <textarea name="text" cols="130" rows="5" [(ngModel)]="selectedTask.executionCode"></textarea>
      </div>
    </div>
  </div>

  <hr />

  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2">
        <h3>Užduotys:</h3>
        <ul *ngFor="let task of course.tasks">
          <li>

            <a (click)="chooseTask(task)">
              <b *ngIf="task == selectedTask">{{task.name}}</b>
              <span *ngIf="task != selectedTask">{{task.name}}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-10">
        <div *ngIf="selectedTask != null">
          <p>Užduoties sąlyga: <br/> <b>{{selectedTask.description}}</b></p>

          <section id="blocklyContainer">
            <blockly-workspace [blocklyWorkspaceContent]="blocklyExecutionWorkspace" (codeChangeEvent)="updateTaskExecutionCode($event)"></blockly-workspace>
          </section>


        </div>
      </div>
    </div>

  </div>
</div>
