<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Redaguoti kursą</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-group">
    <div class="form-group">
      <label>Kurso pavadinimas:</label>
      <input class="form-control" type="text" name="courseName" [(ngModel)]="editableCourse.name" />
      <br />
    </div>
    <div class="form-group">
      <label>Kurso aprašymas:</label>
      <textarea class="form-control" id="taskDesc" [(ngModel)]="editableCourse.description" rows="3"></textarea>
      <br />
    </div>
    <div class="form-group">
      <label>Kurso lygis:</label>
      <select  class="form-control" [(ngModel)]="editableCourse.level">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
      <br />
    </div>
    <div class="form-group">
      <label>Minimalus skaičius sėkmingai įveiktų užduočių, kad būtų užskaitytas kursas:</label>
      <input class="form-control" type="number" min="0" [(ngModel)]="editableCourse.minimumTasksCompletedToSuccess" />
      <br />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="update()">Atnaujinti kursą</button>
  <button type="button" class="btn btn-outline-dark" (click)="close()">Uždaryti</button>
</div>
