<div>
  <h2>Kursas</h2>
 
  <hr />
  <h3>Užduotys:</h3>
  <ul *ngFor="let taskExecution of tasksExecution">
    <li>
      <a (click)="focusTaskExecution(taskExecution)">
        <div *ngIf="taskExecution.successful != null && taskExecution.mark != null">
          <span [style.color]="taskExecution.successful ? 'green' : 'red'" [style.font-weight]="taskExecution == selectedTask ? 'bold' : 'normal'">
            {{taskExecution.task.name}} (Pažymis: {{taskExecution.mark}} / {{taskExecution.task.maximumPointsToGet}})
          </span>
        </div>

        <div *ngIf="taskExecution.successful === null || taskExecution.mark === null">
          <span [style.font-weight]="taskExecution == selectedTask ? 'bold' : 'normal'">
            {{taskExecution.task.name}}
          </span>
        </div>
      </a>
    </li>
  </ul>
  <hr />
  <div *ngIf="selectedTask != null">
    <h3><b>Užduotis {{selectedTask.task.name}}</b></h3>
    <p>
      Užduoties sąlyga: <br />
      {{selectedTask.task.description}}
    </p>

    <h2><b>Blockly vieta</b></h2>

    <p>Kodas, pagal kurį atliktas vertinimas:</p>
    <textarea name="text" cols="150" rows="5" [(ngModel)]="selectedTask.executionCode" readonly></textarea>

  </div>
</div>
