<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Redaguoti užduotį</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <table>
    <td>
      <label>Užduoties pavadinimas:</label>
      <input type="text" name="taskName" [(ngModel)]="editableTask.name" />
      <br />
      <label>Užduoties aprašymas:</label>
      <input type="text" name="taskDesc" [(ngModel)]="editableTask.description" />
      <br />
      <label>Užduoties kursas:</label>
      <select [(ngModel)]="editableTask.courseId">
        <option *ngFor="let course of courses" [ngValue]="course.id">{{course.name}}</option>
      </select>
    <br />
    <label>Minimalus skaičius testų, kurį reikia praeiti, kad būtų įvykdyta užduotis:</label>
    <input type="number" min="0" [(ngModel)]="editableTask.minimumTestsCompletedToSuccess" />
      <br />
      <label>Užduoties automatiniai testai:</label>
      <upload-files></upload-files>
      <br />
      <button type="button" (click)="update()">Atnaujinti užduotį</button>
</table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Uždaryti</button>
</div>
