<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Kurti užduotį</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table>
    <td>
      <div class="form-group">
        <label>Užduoties pavadinimas:</label>
        <input class="form-control" type="text" name="courseName" [(ngModel)]="newTask.name" />
        <br />
      </div>
      <div class="form-group">
        <label>Užduoties sąlyga:</label>
        <textarea class="form-control" id="taskDesc" [(ngModel)]="newTask.description" rows="3"></textarea>

        <br />
      </div>
      <div class="form-group">
        <label>Minimalus skaičius taškų, kurį reikia surinkti, kad būtų įvykdyta užduotis:</label>
        <input class="form-control" type="number" min="0" name="" [(ngModel)]="newTask.minimumPointsCompletedToSuccess" />
        <br />
      </div>
      <div class="form-group">
        <label>Maksimalus skaičius taškų, kurį galima surinkti:</label>
        <input class="form-control" type="number" min="0" name="" [(ngModel)]="newTask.maximumPointsToGet" />
        <br />
      </div>
</table>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary "(click)="create()">Kurti</button>
  <button type="button" class="btn btn-outline-dark" (click)="close()">Uždaryti</button>
</div>
